<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mars.game" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MarsGame</name>
    <description>
        لعبة بسيطة للبقاء على قيد الحياة على كوكب المريخ، مبنية باستخدام Cordova.
    </description>
    <author email="contact@example.com" href="http://example.com">
        Mars Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="Orientation" value="landscape" /> 
        <allow-intent href="market:*" />
    </platform>
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="StatusBarOverlaysWebView" value="true" />
</widget>
